 .navigation{
display: flex;
justify-content: center;}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.links {
  float: left;
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
}

.about{
  display: flex;
  color: blue;
  font-size: 25px;
  justify-content: center;
}

.home{
  display: flex;
  color: red;
  font-size: 25px;
  justify-content: center;
}

.services{
  display: flex;
  color: green;
  font-size: 25px;
  justify-content: center;
}